@model Movie

<h2>Your registerd movie</h2>

<ul>
    <li>Movie ID:@Model.ID</li>
    <li>Title:@Model.Title</li>
    <li>Genre:@Model.Genre</li>
    <li>Year:@Model.Year</li>
    <li>Actor:@Model.Actors</li>
    <li>Director:@Model.Directors</li>
</ul>


<a class="btn btn-primary stretched-link" href ="../Movie/Index">Click here to register a new movie</a> <br /><br />

